<div>
  <h1>My Web-IO</h1>

  <table>
      <tr>
        <th></th>
        <th>Devices</th>
      </tr>
      <tr>
        <td>[0]</td>
        <td class="unknown" id="input0">
            <app-output [state]="device0State" (stateChange)="onDevice0Clicked($event)"></app-output>
        </td>
      </tr>
      <tr>
        <td>[1]</td>
        <td class="unknown" id="input1">
            <app-output [state]="device1State" (stateChange)="onDevice1Clicked($event)"></app-output>
        </td>
      </tr>
    </table>


<p>
  <button [style]="style" (click)="onPublishMessage()">Publish Message</button>
</p>